# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp
*.lto
*.bin

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.8xp

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.src
*.bc

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# folders
bin/*
obj/*
old/*
.vscode/*

# dependancies
clibs.8xg

# JSON autotest files
tests/**/*.json

# Generated multiplication file
src/internetce/crypto/mult256.asm
